.poster_image {
    width: 200px;
    height: 300px;
}

.cast_name {
    padding: 0px;
    margin: 0;
    width: 150px;
}

@media screen and (max-width: 720px) {
    .poster_image {
        width: 120px;
        height: 180px;
    }
    .cast_name {
        width: 140px;
    }
    .nav_link {
        text-decoration: none;
        width: 140px;
        color: aliceblue;
    }
}

.nav_link {
    text-decoration: none;
    width: 200px;
    color: aliceblue;
}